ReportViewer/Service References/ReportServiceReference/ReportingService.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReportingService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReportingService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametersFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametersFault" nillable="true" type="tns:ParametersFault" />
  <xs:complexType name="ReportFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportFault" nillable="true" type="tns:ReportFault" />
</xs:schema>