ReportViewer/Service References/ReportServiceReference/ReportingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReportingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReportingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportParameter" nillable="true" type="tns:ReportParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportParameter" nillable="true" type="tns:ArrayOfReportParameter" />
  <xs:complexType name="ReportParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportParameter" nillable="true" type="tns:ReportParameter" />
</xs:schema>