ReportViewer/Service References/ReportServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Wrapped_ReportService_1810e3b16f4341df9cc6a084a49f81fb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReportingService.Faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReportingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_PostReportToQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:PostReportToQueue" />
  </wsdl:message>
  <wsdl:message name="IReportService_PostReportToQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostReportToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_PostReportToQueue_ParametersFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ReportingService.Faults" name="detail" element="q1:ParametersFault" />
  </wsdl:message>
  <wsdl:message name="IReportService_PostReportToQueue_ReportFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ReportingService.Faults" name="detail" element="q2:ReportFault" />
  </wsdl:message>
  <wsdl:message name="IReportService_CheckReportIsReady_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckReportIsReady" />
  </wsdl:message>
  <wsdl:message name="IReportService_CheckReportIsReady_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckReportIsReadyResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_CheckReportIsReady_ReportFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ReportingService.Faults" name="detail" element="q3:ReportFault" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="PostReportToQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/PostReportToQueue" message="tns:IReportService_PostReportToQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/PostReportToQueueResponse" message="tns:IReportService_PostReportToQueue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportService/PostReportToQueueParametersFaultFault" name="ParametersFaultFault" message="tns:IReportService_PostReportToQueue_ParametersFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportService/PostReportToQueueReportFaultFault" name="ReportFaultFault" message="tns:IReportService_PostReportToQueue_ReportFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckReportIsReady">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/CheckReportIsReady" message="tns:IReportService_CheckReportIsReady_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/CheckReportIsReadyResponse" message="tns:IReportService_CheckReportIsReady_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReportService/CheckReportIsReadyReportFaultFault" name="ReportFaultFault" message="tns:IReportService_CheckReportIsReady_ReportFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostReportToQueue">
      <soap:operation soapAction="http://tempuri.org/IReportService/PostReportToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ParametersFaultFault">
        <soap:fault use="literal" name="ParametersFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ReportFaultFault">
        <soap:fault use="literal" name="ReportFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckReportIsReady">
      <soap:operation soapAction="http://tempuri.org/IReportService/CheckReportIsReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ReportFaultFault">
        <soap:fault use="literal" name="ReportFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wrapped_ReportService_1810e3b16f4341df9cc6a084a49f81fb">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ReportingService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>